<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Quản lý hệ thống</div>
                <a class="nav-link" href="/admin">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <a class="nav-link" href="/account-management">
                    <div class="sb-nav-link-icon"><i class="fas fa-user-cog"></i></div>
                    Quản lý người dùng
                </a>
                <a class="nav-link" href="/pet-management">
                    <div class="sb-nav-link-icon"><i class="fas fa-paw"></i></div>
                    Quản lý thú cưng
                </a>
                <a class="nav-link" href="/notification-management">
                    <div class="sb-nav-link-icon"><i class="fas fa-bell"></i></div>
                    Quản lý nhắc nhở
                </a>
                <a class="nav-link" href="/schedule-management">
                    <div class="sb-nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
                    Quản lý lịch trình y tế
                </a>
                <a class="nav-link" href="/reports-and-analytics">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-line"></i></div>
                    Báo cáo và phân tích
                </a>
                <a class="nav-link" href="/system-settings">
                    <div class="sb-nav-link-icon"><i class="fas fa-cogs"></i></div>
                    Cài đặt hệ thống
                </a>
            </div>
        </div>
    </nav>
</div>