<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Pet Care &copy; Quản lý môi trường và sức khỏe thú cưng</div>
            <div>
                <a href="#">Facebook</a>
                &middot;
                <a href="#">Instagram</a>
            </div>
        </div>
    </div>
</footer>