<link rel="stylesheet" href="/css/footer.css">

<div style="height:300px;"></div>
<footer class="text-light text-center py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-left">
                <a href="/" target="_blank">
                    <img src="/img/logo.jpg" alt="Logo" class="footer-logo">
                </a>
            </div>
            <div class="col-md-4">
                <p class="brand-name">&copy; 2024 Quản lý môi trường và sức khỏe thú cưng Tất cả đều đã được đăng ký bản quyền</p>
            </div>
            <div class="col-md-4 text-right">
                <div class="social-icons">
                    <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>