<link rel="stylesheet" href="/css/header.css">

<header>
    <div class="header-container">
        <div class="logo">
            <a href="/"><img src="/img/logo.jpg" alt="Logo"></a>
        </div>
        <nav class="navigation-menu">
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li><a href="#health">Sức khỏe</a></li>
                <li><a href="#environment">Môi trường sống</a></li>
                <li><a href="#contact">Liên hệ</a></li>
            </ul>
        </nav>
        <div class="search-bar">
            <input type="text" placeholder="Search...">
            <button id="search"><i class="fas fa-search"></i></button>
        </div>
        <div class="auth-buttons">
            <button id="login">Đăng nhập</button>
            <button id="register">Đăng ký</button>
        </div>
    </div>
</header>