<link rel="stylesheet" href="/css/change-password1.css">

{{#if messages.error}}
    <div class="alert alert-danger">{{messages.error}}</div>
{{/if}}

{{#if messages.success}}
    <div class="alert alert-success">{{messages.success}}</div>
{{/if}}

<div class="change-password1-container">
    <h2>ĐỔI MẬT KHẨU</h2>
    <form action="/change-password1" method="post">
        <div class="form-field">
            <label for="currentPassword">Nhập mật khẩu hiện tại:</label>
            <div class="old-password-container">
                <input type="password" id="currentPassword" name="currentPassword" placeholder="Mật khẩu hiện tại của bạn" required>
                <i class="fa fa-eye" id="togglePassword1" style="cursor: pointer;"></i>
            </div>
        </div>
        <div class="form-field">
            <label for="newPassword">Nhập mật khẩu mới:</label>
            <div class="new-password-container">
                <input type="password" id="newPassword" name="newPassword" placeholder="Mật khẩu mới của bạn" required>
                <i class="fa fa-eye" id="togglePassword2" style="cursor: pointer;"></i>
            </div>
        </div>
        <div class="form-field">
            <label for="confirmPassword">Nhập lại mật khẩu mới:</label>
            <div class="confirm-password-container">
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Xác nhận mật khẩu" required>
                <i class="fa fa-eye" id="togglePassword3" style="cursor: pointer;"></i>
            </div>
        </div>
        <div class="form-field">
            <input type="submit" value="XÁC NHẬN">
        </div>
        <img src="/img/cat-image.png" alt="Cat Image" class="cat-image">
    </form>
</div>

<div class="background-image-container">
    <img src="/img/background.png" alt="Image" class="background-image">
</div>

<script src="/js/change-password1.js"></script>