<link rel="stylesheet" href="/css/environment.css">
<div class="environment-container">
    <form action="/environment" method="post"></form>
    <div class="sensor-display">
        <div class="temperature">
            <img src="/img/temperature-icon.png" alt="Temperature Icon" class="iconImage"> 
            <span id="temperature"></span>
        </div>
        <div class="humidity">
            <img src="/img/humidity-icon.png" alt="Humidity Icon" class="iconImage"> 
            <span id="humidity"></span>
        </div>
    </div>

    <div class="device-status">
        <div class="icon">
            <img src="/img/home.png" alt="ImageIcon" class="icon-image">
        </div>
        <p>Máy lạnh: <img id="airConditionerStatus" class="status-image" alt="Air Conditioner Status"></p>
        <p>Máy sưởi: <img id="heaterStatus" class="status-image" alt="Heater Status"></p>
        <p>Máy làm ẩm: <img id="humidifierStatus" class="status-image" alt="Humidifier Status"></p>
        <p>Máy hút ẩm: <img id="dehumidifierStatus" class="status-image" alt="Dehumidifier Status"></p>
    </div>
</div>

<div class="background-image-container">
    <img src="/img/background.png" alt="Image" class="background-image">
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/environment.js"></script>
