<link rel="stylesheet" href="/css/forgot-password.css">
<div class="forgot-password-container">
    <h2>QUÊN MẬT KHẨU</h2>
    <form action="/forgot-password" method="post">
        <div class="form-field">
            <label for="username">Nhập tài khoản</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-field">
            <input type="submit" value="XÁC NHẬN">
        </div>
        <img src="/img/cat-image.png" alt="Cat Image" class="cat-image">
        <div class="note">
            <strong>Lưu ý:</strong> Hệ thống sẽ gửi email xác nhận cho tài khoản bạn vừa mới nhập.
        </div>
    </form>
</div>

<div class="background-image-container">
    <img src="/img/background.png" alt="Image" class="background-image">
</div>