<link rel="stylesheet" href="/css/health.css">
<div class="health-container">
    <form action="/health" method="post"></form>
    <div class="content-container">
        <div class="table-container">
            <div class="table-header">
                <h2>Danh Sách Thú Cưng</h2>
                <div class="add-button-container">
                    <button class="add-button">
                        <img src="img/add.png" alt="Add Icon" />
                        Thêm thú cưng
                    </button>
                </div>
            </div>
            <div class="table">
                <div>STT</div>
                <div class="text">Thú cưng của bạn</div>
            </div>
            <div class="data">
                <!-- Dữ liệu sẽ được thêm vào đây -->
            </div>
        </div>
    </div>
</div>
<div id="healthModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <form id="health-form">
        <div class="form-field">
            <label for="name">Tên thú cưng:</label>
            <input type="text" class="form-control" id="time" name="name" placeholder="VD: Lulu" value="{{name}}">
        </div>
        <div class="form-field">
            <label for="type">Loài:</label>
            <select class="form-control" id="type" name="type">
                <option value="" disabled selected hidden>Chọn loài</option>
                <option value="Chó">Chó</option>
                <option value="Mèo">Mèo</option>
            </select>
        </div>
		<div class="form-field">
            <label for="species">Chủng loại:</label>
            <input type="text" class="form-control" id="species" name="species" placeholder="VD: Chó Bergie" value="{{species}}">
        </div>
        <div class="form-field">
            <label for="gender">Giới tính:</label>
            <select class="form-control" id="gender" name="gender">
                <option value="" disabled selected hidden>Chọn giới tính</option>
                <option value="Đực">Đực</option>
                <option value="Cái">Cái</option>
            </select>
        </div>
        <div class="form-field">
            <label for="color">Màu lông:</label>
            <input type="text" class="form-control" id="color" name="color" placeholder="VD: Vàng" value="{{color}}">
        </div>
        <div class="form-field">
            <label for="special">Đặc điểm nhận dạng đặc biệt</label>
            <input type="text" class="form-control" id="special" name="special" placeholder="VD: Mặt có mụt ruồi màu đen bên trái dưới mũi" value="{{result}}">
        </div>
        <div class="form-field">
            <input type="submit" value="HOÀN THÀNH">
        </div>
    </form>
  </div>
</div>
<script src="/js/health.js"></script>
<div class="background-image-container">
    <img src="/img/background.png" alt="Image" class="background-image">
</div>