<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/introduce.css">
<div class="container mt-5 mb-5">
    <h1 class="text-center mb-4 display-4 font-weight-bold">PETCARE</h1>
    <p class="lead text-center">Chào mừng bạn đến Hệ thống quản lý sức khỏe và môi trường sống thú cưng - nơi công nghệ và trái tim yêu thú cưng gặp nhau.</p>

    <div class="row my-4">
        <div class="col-lg-6 mb-3">
            <div class="content">
                <h2 class="h3 font-weight-bold">Sức Khỏe Thú Cưng - Ưu Tiên Hàng Đầu</h2>
                <p> Với công nghệ IoT tiên tiến, chúng tôi giúp bạn theo dõi sức khỏe thú cưng một cách chính xác, từ nhiệt độ cơ thể đến nhịp tim, đảm bảo bạn luôn cập nhật và phản ứng kịp thời với mọi thay đổi.</p>
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <img src="/img/health-tracking.png" alt="Health Tracking" class="img-fluid rounded">
        </div>
    </div>

    <div class="row my-4">
        <div class="col-lg-6 mb-3 order-lg-2">
            <div class="content">
                <h2 class="h3 font-weight-bold">Lịch Trình Y Tế - Sự An Tâm Cho Bạn</h2>
                <p>Quản lý lịch tiêm phòng và kiểm tra sức khỏe thường xuyên, nhắc nhở tự động giúp bạn không bao giờ quên một cuộc hẹn quan trọng, đồng hành cùng thú cưng trên mỗi bước đường.</p>
            </div>
        </div>
        <div class="col-lg-6 mb-3 order-lg-1">
            <img src="/img/medical-schedule.png" alt="Medical Schedule" class="img-fluid rounded">
        </div>
    </div>

    <div class="row my-4">
        <div class="col-lg-6 mb-3">
            <div class="content">
                <h2 class="h3 font-weight-bold">Môi Trường Sống - Yếu Tố Quyết Định</h2>
                <p>Tạo lập một môi trường sống lý tưởng cho thú cưng không chỉ giúp chúng khỏe mạnh mà còn hạnh phúc. Hãy để chúng tôi giúp bạn xây dựng một không gian an toàn và thoải mái.</p>
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <img src="/img/environment-management.png" alt="Environment Management" class="img-fluid rounded">
        </div>
    </div>
</div>

<div class="background-image-container">
    <img src="/img/background.png" alt="Image" class="background-image">
</div>
