<link rel="stylesheet" href="/css/login.css">

{{#if messages.error}}
    <div class="alert alert-danger">{{messages.error}}</div>
{{/if}}

<div class="login-container">
    <h2>ĐĂNG NHẬP</h2>
    <form action="/login" method="post">
        <input type="hidden" value="{{token}}" name="token"`` id="token">
        <input type="hidden" value="{{hashedEmail}}" name="hashedEmail" id="hashedEmail">
        <div class="form-field">
            <label for="username">Nhập username:</label>
            <input type="username" id="username" name="username" placeholder="Username của bạn" required>
        </div>
        <div class="form-field">
            <label for="password">Nhập mật khẩu:</label>
            <div class="password-container">
                <input type="password" id="password" name="password" placeholder="Mật khẩu của bạn" required>
                <i class="fa fa-eye" id="togglePassword" style="cursor: pointer;"></i>
            </div>
        </div>
        <div class="form-field">
            <input type="submit" value="ĐĂNG NHẬP">
        </div>
        <img src="/img/cat-image.png" alt="Cat Image" class="cat-image">
        <div class="signup-prompt">
            Bạn chưa có tài khoản ?<a href="/register"> Đăng ký</a>
        </div>
        <div class="forgot-password">
            <a href="/forgot-password">Quên mật khẩu</a>
        </div>
    </form>
</div>
<div class="background-image-container">
    <img src="/img/background.png" alt="Image" class="background-image">
</div>

<script src="/js/login.js"></script>