<link rel="stylesheet" href="/css/login.css">
<div class="login-container">
    <h2>ĐĂNG NHẬP</h2>
    <form action="/login" method="post">
        <div class="form-field">
            <label for="username">Nhập tài khoản</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-field">
            <label for="password">Nhập mật khẩu</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-field">
            <input type="submit" value="ĐĂNG NHẬP">
        </div>
        <img src="/img/cat-image.png" alt="Cat Image" class="cat-image">
        <div class="signup-prompt">
            Bạn chưa có tài khoản ?<a href="#"> Đăng ký</a>
        </div>
        <div class="forgot-password">
            <a href="/forgot-password">Quên mật khẩu</a>
        </div>
    </form>
</div>
<div class="background-image-container">
    <img src="/img/background.png" alt="Image" class="background-image">
</div>