<link rel="stylesheet" href="/css/medical.css">
<div class="medical-container">
    <form action="/medical" method="post"></form>
    <!-- Container cho nút và lịch -->
    <div class="content-container">
        <div class="buttons-container">
            <button id="schedule-button">
                <img src="img/note-icon.png" alt="Note Icon" />
                <div>Ghi lịch trình</div>
            </button>
            <button id="reminder-button">
                <img src="img/alarm-icon.png" alt="Alarm Icon" />
                <div>Tạo nhắc nhở</div>
            </button>
        </div>
        <div class="calendar-container">
            <div class="calendar-header">
                <span class="month-year-header">
                    <!-- Các nút điều hướng tháng trước và tháng sau đã có sẵn -->
                    <button class="prev-month">&lt;</button>
                    <span class="month-year-text">February 2021</span>
                    <button class="next-month">&gt;</button>
                </span>
                <div class="today-button-container">
                    <button class="today-button">Today</button>
                </div>
            </div>
            <div class="calendar-week-day">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div class="calendar-days">
                <!-- Dữ liệu ngày sẽ được thêm vào đây -->
            </div>
        </div>
    </div>
</div>

<!-- Modal Reminder -->
<div id="reminderModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <form id="reminder-form">
        <div class="form-field">
            <label for="time">Nhập ngày tháng năm:</label>
            <input type="text" class="form-control" id="time" name="time" placeholder="VD: dd/mm/yyyy" value="{{time}}">
        </div>
        <div class="form-field">
            <label for="event">Nhập tên sự kiện:</label>
            <input type="text" class="form-control" id="event" name="event" placeholder="Nhập sự kiện cần nhắc nhở." value="{{event}}">
        </div>
        <div class="form-field">
            <input type="submit" value="Tạo Nhắc Nhở">
        </div>
    </form>
  </div>
</div>

<script src="/js/medical.js"></script>
<div class="background-image-container">
    <img src="/img/background.png" alt="Image" class="background-image">
</div>