<link rel="stylesheet" href="/css/password-changed.css">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="message-container alert alert-success">
                <p class="success-message">{{message}}</p>
                <div class="spinner-border text-dark" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <p class="redirect-message">Bạn sẽ được chuyển hướng về trang đăng nhập trong vài giây...</p>
                <img src="/img/cat-image.png" alt="Cat Image" class="cat-image">
            </div>
        </div>
    </div>
</div>

<div class="background-image-container">
    <img src="/img/background.png" alt="Image" class="background-image">
</div>

<script src="/js/password-changed.js"></script>