<link rel="stylesheet" href="/css/petDetail.css">
<div class="petDetail-container">
    <form action="/petDetail" method="post"></form>
    <div class="sensor-display">
        <div class="temperature">
            Nhiệt độ: <span id="temperaturePet"></span>
            <img src="/img/dog-cat-t.png" alt="Temperature Icon" class="sensor-icon">
        </div>
        <div class="humidity">
            Độ ẩm: <span id="humidityPet"></span>
            <img src="/img/dog-cat-h.png" alt="Temperature Icon" class="sensor-icon">
        </div>
        <div class="heartRate">
            Nhịp tim: <span id="heartRate"></span>
            <img src="/img/dog-cat-hR.png" alt="Temperature Icon" class="sensor-icon">
        </div>
        <div class="activity">
            Hoạt động: <span id="activity"></span>
            <img src="/img/dog-cat-a.png" alt="Temperature Icon" class="sensor-icon">
        </div>
    </div>
    <div class="healthData">
        <h3>Cảnh Báo Sức Khỏe</h3>
        <div class="health-warning">
            <ul id="healthWarnings"></ul>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="healthModal" class="modal">
  <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
    <h4>Chi Tiết Cảnh Báo Sức Khỏe</h4>
    <p id="modalContent">Thông tin chi tiết về cảnh báo sức khỏe ở đây.</p>
  </div>
</div>


<div class="background-image-container">
    <img src="/img/background.png" alt="Image" class="background-image">
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/petDetail.js"></script>