<link rel="stylesheet" href="/css/timeout.css">

<div class="timeout-container">
    <h2>Hết thời gian phiên</h2>
    <p>Phiên làm việc của bạn đã kết thúc. Vui lòng liên hệ lại với admin. Nhấn vào nút dưới đây để quay lại trang chủ.</p>
    <a href="/" class="btn btn-dark home-button">Quay lại trang chủ</a>
</div>

{{!-- <script src="/js/timeout.js"></script> --}}