body {
    font-family: Arial, sans-serif;
    background-color: #f0b70e;
    margin: 0;
    padding: 0;
}

.health-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.table-container {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 1200px;
    height: 500px;
}

.table-header h2 {
    font-weight: bold;
}

.table-header {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 20px;
}

.table-header button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.table {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

/* .table div {
    font-weight: bold;
    width: 14.28%;
    text-align: center;
} */

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.card {
    width: 372px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px; 
}

.card-title {
    font-size: 1.25em;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none; 
    padding: 0; 
}

.page-link-yellow {
    color: rgb(0, 0, 0); 
}

.page-link-yellow:hover {
    color: rgb(203, 178, 67);
}

.text {
    padding-right: 500px;
    white-space: nowrap;
}

.data {
    display: flex;
    flex-wrap: wrap;
}

.data div {
    width: 14.28%;
    padding: 10px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.data div:hover {
    background-color: #d8aa18;
}

.background-image-container {
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    left: 0;
    right: 0;
}

.background-image {
    width: 800px;
}

.add-button-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border: 1px solid black;
    background-color: white;
    border-radius: 4px;
}

.add-button {
    font-size: 0.9em !important;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
}

.add-button:hover {
    background-color: #d8aa18;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    animation-name: animatetop;
    animation-duration: 0.4s;
    position: relative;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.form-field {
    margin-bottom: 10px;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
}

.form-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-field input[type="submit"] {
    background-color: #333;
    color: white;
    cursor: pointer;
}

.form-field input[type="submit"]:hover {
    background-color: #555;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.alert {
    text-align: center;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.alert.hide {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s 1s, opacity 1s ease-out;
}