body {
    font-family: Arial, sans-serif;
    background-color: #f0b70e;
    margin: 0;
    padding: 0;
}

.background-image-container {
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    left: 0;
    right: 0;
}

.background-image {
    width: 800px;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.notification-container {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 1200px;
    height: 500px;
}

.notification-header h2 {
    font-weight: bold;
}

.notification-header {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 20px;
}

.notification-header button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.notification {
    display: flex;
    justify-content: space-between;
}

.text {
    padding-right: 500px;
    white-space: nowrap;
}

.notification div {
    font-weight: bold;
    width: 14.28%;
    text-align: center;
}

.data {
    display: flex;
    flex-wrap: wrap;
}

.data div {
    width: 14.28%;
    padding: 10px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.data div:hover {
    background-color: #d8aa18;
}

.cat-image {
    position: absolute;
    right: 0px;
    bottom: 50px;
    width: 100px;
}


/* Đặt cho container chứa cả ba section */

.services-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    /* Đặt chiều rộng tối đa cho container */
}

section {
    flex: 1;
    /* Mỗi section sẽ chiếm 1 phần không gian bằng nhau */
    padding: 20px;
    /* Thêm đệm vào mỗi section */
    text-align: center;
    /* Căn giữa nội dung text */
}

section img {
    max-width: 100%;
    /* Đảm bảo rằng icon không vượt quá kích thước của section */
    height: auto;
    margin-bottom: 10px;
    /* Thêm khoảng cách giữa icon và tiêu đề */
}