body {
    font-family: Arial, sans-serif;
    background-color: #f0b70e;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.section {
    margin-bottom: 40px;
}

.image-source {
    font-size: 0.8rem;
    color: #666;
    text-align: center;
    margin-top: 5px;
}

.background-image-container {
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    left: 0;
    right: 0;
}

.background-image {
    width: 800px;
}