body {
    font-family: Arial, sans-serif;
    background-color: #f0b70e;
    margin: 0;
    padding: 0;
}

.message-container {
    background: #d8aa18;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

.message-container p {
    margin: 20px 0;
}

.cat-image {
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 120px;
}

.background-image-container {
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    left: 0;
    right: 0;
    /* Đặt container này ở cuối trang */
}

.background-image {
    width: 800px;
}
