body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #a2a2a2;
}

.password-container {
    position: relative;
    align-items: center;
}

.image-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.image-container img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #000000;
}

#btnChooseFile {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: #000000;
    border-radius: 50%;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.image-container:hover #btnChooseFile {
    opacity: 1;
}

.form-group label {
    color: #000000;
}

.form-group input {
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    padding: 10px;
}

.alert {
    text-align: center;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.alert.hide {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s 1s, opacity 1s ease-out;
}

.input-group-append .btn {
    border-radius: 0 0.25rem 0.25rem 0;
}