body {
    font-family: Arial, sans-serif;
    background-color: #f0b70e;
    margin: 0;
    padding: 0;
}

.schedule-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.table-container {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 1200px;
    height: 500px;
}

.table-header h2 {
    font-weight: bold;
}

.table-header {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 20px;
}

.table-header button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.table {
    display: flex;
    justify-content: space-between;
}

.table div {
    font-weight: bold;
    width: 14.28%;
    text-align: center;
}

.data {
    display: flex;
    flex-wrap: wrap;
}

.data div {
    width: 14.28%;
    padding: 10px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.data div:hover {
    background-color: #d8aa18;
}

.background-image-container {
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    left: 0;
    right: 0;
    /* Đặt container này ở cuối trang */
}

.background-image {
    width: 800px;
}

.add-button-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border: 1px solid black;
    background-color: white;
    border-radius: 4px;
}

.add-button {
    font-size: 0.9em !important;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
}

.add-button:hover {
    background-color: #d8aa18;
}

.modal {
    display: none;
    /* Ẩn modal */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}