body {
    font-family: Arial, sans-serif;
    background-color: #f0b70e;
    margin: 0;
    padding: 0;
}

.timeout-container {
    position: relative;
    background: #d8aa18;
    width: 500px; /* Bạn có thể điều chỉnh kích thước này tùy theo nhu cầu */
    margin: 100px auto;
    padding: 40px; /* Đã giảm padding để tạo không gian hợp lý hơn */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Căn giữa nội dung */
}

.home-button {
    display: inline-block; /* Để nút không chiếm toàn bộ chiều rộng */
    margin-top: 20px;
    padding: 10px 20px; /* Tăng padding để làm nổi bật nút */
    font-size: 16px; /* Tăng kích thước chữ nếu cần */
    background-color: #333; /* Màu nút */
    color: white; /* Màu chữ trên nút */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none; /* Loại bỏ gạch chân cho liên kết */
}

.home-button:hover {
    background-color: #555; /* Màu khi hover */
}

.cat-image {
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 120px;
}

.background-image-container {
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    left: 0;
    right: 0;
    /* Đặt container này ở cuối trang */
}

.background-image {
    width: 800px;
}