body {
    font-family: Arial, sans-serif;
    background-color: #f0b70e;
    margin: 0;
    padding: 0;
}

.timeout-container {
    position: relative;
    background: #d8aa18;
    width: 500px;
    margin: 100px auto;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-button {
    margin-top: 20px;
}